body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    background: #020617;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
}

/* HERO */
.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero span {
    color: #38bdf8;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #38bdf8;
    color: black;
    border-radius: 5px;
    margin-top: 10px;
}

/* SECTIONS */
section {
    padding: 50px;
    text-align: center;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    background: #334155;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}
